<%= form_for @publisher do |f| %>
	<!-- Check for errors -->
	<% if @publisher.errors.any? %>
	    <% @publisher.errors.full_messages.each do |msg| %>
	    	<!-- Show errors -->
	      	<div class="alert alert-danger"><%= msg %></div>
	    <% end %>
  	<% end %>
  	
	<div class="form-group">
		<%= f.label :name %><br />
		<%= f.text_field :name, class:'form-control' %><br />
	</div>

	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%=link_to "Cancel", publishers_path, class:'btn btn-default' %>

<% end %>