<% if params[:controller] == 'about' %>
		<div class="well">
			<h3>Locations</h3>
		      <ul class="location">
			       <li>Florida</li>
			       <li>555 numnut road</li>
			       <li>Miami, FL 33142</li>
			  </ul>
		</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
   
   <div class="list-group">
      <% @categories.each do |category| %>
          <%=link_to category.name, category_path(category.id), class: "list-group-item" %>
    <% end %>
   </div>
<% end %>