/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding-top:50px;
  font-family:'Tahoma', serif;
  font-size:14px;
  color:#696969;
  line-height:1.6em; 
}

header{
	background: #4D4D4D;
	color: white;
	height: 80px;
	margin-bottom:20px;
}

footer{
	background: #4D4D4D;
	color: white;
	height: 30px;
	margin-top: 100px;
	text-align: center;
}

#books-index img{
	width: 100%;
	padding: 4px;
	border: 1px #ccc solid;

}

#books-index h3{
	font-size: 15px;
}

#books-index{
	text-align: center;
}

#books-index .btn{
	display: block;
	margin-top: 20px;
}