<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @page_title ? @page_title : "Welcome" %>| Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'books' ? 'active' : '' %>"><%= link_to 'home',root_path%></li>
            <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to 'about',about_path%></li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add New<span class="caret"></span></a>
          	          <ul class="dropdown-menu navbar-right" role="menu">
          		          <li class="active"><%= link_to 'book',new_book_path%></li>
          		          <li class="active"><%= link_to 'category',new_category_path%></li>
          		          <li class="active"><%= link_to 'author',new_author_path%></li>
          		          <li class="active"><%= link_to 'publisher',new_publisher_path%></li>
                      </ul>
            </li>
          
             <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-right" role="menu">
                          <li><%=link_to "Categories", categories_path %></li>
                          <li><%=link_to "Authors", authors_path %></li>
                          <li><%=link_to "Publishers", publishers_path %></li>
                        </ul>
              </li>

          </ul>

        
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <header>
       <div class="container">
         <h1>The Bookstore <small><%= @page_title ? @page_title : "Welcome" %></small></h1> 
       </div>
  </header>
     
     <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-8">
                     <!--alert messages-->
                     <% if flash[:notice] %>
                          <div class="alert alert-success"><%= flash[:notice] %></div>
                     <% end %>

                      <% if flash[:alert] %>
                         <div class="alert alert-danger"><%= flash[:alert] %></div>
                      <% end %>

                   <%= yield %>
                  
                  </div>
                  <div class="col-md-4">
                     <%= render 'partials/sidebar' %>
                  
                  </div>
              </div>
          </div>
    </section>

  <footer>
    <div class="container">
       <p>copyright &copy; 2015 all right reserved</p>
    </div>
  </footer>
</body>
</html>
